@charset "UTF-8";
$font-family: "microsoft yahei", arial, verdana, sans-serif, segoe ui, tahoma;
$buy-color: #5a9d3d !default;
$sell-color: #c55555 !default;
$loss-all-color: orange;
$nav-bg-color: #00376a !default;
$border-color: #e1e1e1 !default;
$body-bg-color: #f5f5f5 !default;
$border: 1px solid $border-color;
$input-border: 1px solid #c0bfbf;
$white: #fff;
$th-title-bg: #f5f5f5;
$th-bg-even: #fafafa;
$alert: #4c972b, #f00;
$a-hover: #0171c7;
$body-color: #333;
$font-color: #6a6a6a;
$tr-hover: #f1f1f1;
$available-bg: #dff0d8;
$available-border: 1px solid nth($alert, 1);
$not-available-bg: #f2dede;
$not-available-border: 1px solid nth($alert, 2);
$error-color: #f00;
$hd: hidden;
$bl: block;
$in-bl: inline-block;
$ct: center;
$width: 100%;
$link-color: #3e89c2;
$btn-bg-color: #0e5f9d !default;
$btn-border-color: #357ebd !default;
$lt: left;
$rt: right;
$off: #bbb, #666;
$open: #f60, $white;
$error-input-border: #F34755;
$error-input-bg: #F7DEE0;
$index-input-color: #0a77be;
$tr-yl: #f1fff0;
$tr-ks: #fff0f0;
$cursor-disabled: not-allowed !default;
$disabled-bg-color: #D1D1D1 !default;
